  /* Menu */
  nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
  }
  
  .logo a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
  }

  .logo img {
    margin-top: 30px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    margin-top: 50px;
    padding: 10px;
    font-size: 16px;
  }
  
  .menu li {
    margin-right: 15px;
  }
  
  .menu li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0 10px;
    
  }

  #login a{
    background-color: #008000;
    border-radius: 100px;
    padding: 20px;
    margin: 0 0 0 20px;
    color: #fff;
  }

  #login a:hover{
    color: #000;
  }
  
  .menu li a:hover {
    color: #A9A9A9;
  }

  /*Corpo de texto*/
  .container {
    display: flex;
    align-items: center;
    padding: 0 48px;
    font-size: 25px;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }

  .text a {
    text-decoration: none;
    background-color: #008000;
    border-radius: 100px;
    padding: 20px;
    color: #fff;
    font-size: 16px;
  }

  .text a:hover {
    color: #444;
  }
  
  .image {
    flex: -2;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    margin-left: 220px;
  }

  /*Cards*/

  .card-inicio {
    text-align: center;
    font-size: 25px;
    margin-top: 8em;
  }

  .card-inicio p{
    color: #808080;
  }

   table {
    text-align: center;
   }
  
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 60px ;
    background-color: #008000;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 50%;
  }

  .card:hover {
    background-color: #fff;
  }
  
  .card i {
    font-size: 48px;
    color: #000;
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .card-content {
    display: none;
    padding: 1px;
    text-align: center;
    opacity: 0;
    background-color: #b6ffa1;
    transition: all 0.3s ease;
  }
  
  .card:hover i {
    border-radius: 0;
    opacity: 0;
  }
  
  .card:hover .card-content {
    display: block;
    border-radius: 0;
    opacity: 1;
  }
  
  /* Formatação de form */
  .container2 {
    display: flex;
    align-items: center;
    padding: 5%;
    /* padding: 0 48px; */
    font-size: 25px;
    background-color: #008000;
    color: #fff;
  }

  .text2 {
    flex: 1;
    padding: 20px;
  }

  .lista li {
    padding: 10px;
  }

  .form {
    flex: -1;
    /* font-size: 15px; */
    margin-left: 100px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
  }

  form{
    padding: 35px;
    width: 280px;
  }

  form p{
    font-size: 17px;
  }

  form label {
    font-size: 15px;
  }

  form input {
    width: 290px;
    height: 50px;
    border: #808080 solid 1px;
    border-radius: 4px;
  }

  form textarea {
    width: 290px;
    height: 50px;
    border-radius: 4px;
  }

  form button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #008000;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
  }

  form button:hover {
    background-color: #808080;
    cursor: pointer;
  }

  /* Rodapé */
  
  .container3 {
    display: flex;
    justify-content: center;
    background-color: #333;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 4000px;
    padding: 40px 0;
  }
  
  .contato,
  .redes_sociais,
  .desenvolvedores {
    text-align: center;
    flex: 1;
  }
  
  .social-links li {
    display: inline-block;
    padding: 8px;
    margin-left: 5px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-right: 25px;
  }
  
  .desenvolvedores p {
    margin: 0;
    padding: 5px;
  }

  .direitos p {
    color: #fff;
  }
  
  .direitos a {
    color: #fff;
  }